<head>
    <meta name = "viewport" content = "width=device-width,initial_scale=1.0"> 
    <link rel = "stylesheet" href = "{{url_for('static', filename ='style.css')}}"> 

</head>

<body>
    <div class="container">
        <h6>Chatbot by Gemini</h6>
        <form action="/gemini_reply" method="post">
            <input type="text" name="q">
            <input type="submit" value="Enter">
        </form>
            <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>
